
/*HomePage*/

#banner form {
  margin-top: 10px;
}
.input-form {
  width: 70%;
  margin-left:14%;
  margin-top: 14%;
  position: absolute;
  margin-bottom: 30px;
}

section .special {
margin-top: 50px;

}



.search {
  margin-top: 10px;
  border: solid black 5px;
}

ul .actions {
  width: 80%;
}

/*Layouts*/
#page-wrapper {
  margin-top: 20px;
}

/*Results page CSS*/

.side-bar {
  background-color:#E2E4D9;
  color: black;
}

.overview h2 {
  width: 100%;
  max-height: 400px;
  /*margin-left:25%;*/
  color:#30C967;
  background-color: #FCFCFC;
}
.section  {
  width: 100%;
  height: 300px;
  color:black;
  background-color: #FCFCFC;
  text-align: left;

}


.small {
  width: 170px;
  height: 170px;
  background-color: #F2F3F0;
  margin-top:10px;

}


/*progress bar*/
.progress{
  margin-top: 50px;
}


/*Media Queries*/

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/seattle-bg.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
/* End video CSS */


/* Begin map CSS */
#ws-walkscore-tile{
  position:relative;
  text-align:center;
  color: black;
}

#ws-walkscore-tile *{
  /*float:center;*/

}

.hider-header{
  position: absolute;
  background-color: #F2F2F2;
  width: 100%;
  height: 2.0%;
  /*opacity: 0.5;*/
}

.hider-ad-bar{
  margin-top: 80%;
  position: absolute;
  background-color: #F2F2F2;
  width: 100%;
  height: 5.3%;
  opacity: 0.5;
}

#ws-foottext, #ws-footer a,#ws-footer a:link{
/*  font:11px/14px Verdana,Arial,Helvetica,sans-serif;
  margin-right:6px;
  white-space:nowrap;
  padding:0;color:#000;
  font-weight:bold;text-decoration:none*/
}

#ws-walkscore-tile > iframe{
  text-align: center;
}

#ws-footer a:hover{
    color:#000;
    text-decoration:none
}
#ws-footer a:active{
    color:#b14900
}


.minimizer{
  margin: 5px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
}

.map{
  /*border: solid black 5px;*/
}
/* End map CSS */

/*Instagram CSS*/

.instagram-pic {
  position: relative;
  padding: 10px;
  overflow: hidden;

}

.instagram-pic img {
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0 0 5px rbga(0,0,0,0.5);
}

.instagram-bar {
  position:absolute;
  bottom: 30px;
  width: 100%;
  left: 0;
  padding-left: 30px;
  padding-right: 30px;
  color: #FFF;
}

.instagram-bar span {
  margin-right: 5px;
}

.instagram-bar .likes {
  float: left;
}


.instagram-bar .comments {
  float: right;
}







