
/* Begin video CSS */
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  opacity: 0.5;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Results page CSS*/
.section  {
  width: 100%;
  height: 100%;
  color:red;
  background-color:white;
  padding-top: 5%;

}

.overall-score {
position: relative;
border: 1px solid black;
}

h1.overall-score {
  text-align: center;

}

.small {
  width: 100px;
  height: 100px;
  background-color: #fff555;
  margin: 5px;

}


/*Media Queries*/

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/seattle-bg.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
/* End video CSS */


/* Begin map CSS */
#ws-walkscore-tile{
  position:relative;
  text-align:center;
  color: black;
}

#ws-walkscore-tile *{
  /*float:center;*/

}

.hider-header{
  position: absolute;
  background-color: white;
  width: 100%;
  height: 3.3%;
}

.hider-ad-bar{
  margin-top: 80%;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 5.3%;
}

#ws-foottext, #ws-footer a,#ws-footer a:link{
/*  font:11px/14px Verdana,Arial,Helvetica,sans-serif;
  margin-right:6px;
  white-space:nowrap;
  padding:0;color:#000;
  font-weight:bold;text-decoration:none*/
}

#ws-walkscore-tile > iframe{
  text-align: center;
}

#ws-footer a:hover{
    color:#000;
    text-decoration:none
}
#ws-footer a:active{
    color:#b14900
}
/*.map{
  background-color: white;
  width: 800px;
  height: 980px;
}*/

.centerize{
  margin:
}
/* End map CSS */

/*Instagram CSS*/

.instagram-pic {
  position: relative;
  padding: 10px;
  overflow: hidden;

}

.instagram-pic img {
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0 0 5px rbga(0,0,0,0.5);
}

.instagram-bar {
  position:absolute;
  bottom: 30px;
  width: 100%;
  left: 0;
  padding-left: 30px;
  padding-right: 30px;
  color: #FFF;
}

.instagram-bar span {
  margin-right: 5px;
}

.instagram-bar .likes {
  float: left;
}


.instagram-bar .comments {
  float: right;
}