<div class="map-result col-md-8">
 <!-- Enter magic tags here for map -->
</div>

<div class="side-bar col-md-4">
<!-- Enter magic tags for results -->

  <div class="section overview">1
  </div>
  <div class="section photos">2
  </div>
  <div class="section tidbits">3
  </div>

</div>