
  <div class="map-result col-md-4">map area
   <!-- Enter magic tags here for map -->
  </div>

  <div class="side-bar col-md-8"><h1>Results</h1>
  <!-- Enter magic tags for results -->

    <div class="section overview col-md-12">
      <div class="overall-score col-md-12"> <h1> Score: 720 </h1>
        <div class="col-md-3">
          <div class="walk-score small">WalkScore: 95/100

          </div>
        </div>
        <div class="col-md-3">
        <div class="personlity small">Neighborhood Personality: Happy

        </div>
        </div>
        <div class="col-md-3">
        <div class="cost-of-living small ">Cost of Living: $$$$

        </div>
        </div>
        <div class="col-md-3">
        <div class="ratings sentiment small">Ratings: 4.5 star

        </div>
        </div>
      </div>
      <div class="photo">This is where photos go
      </div>
      <div class="ratings info">This is where ratings data comes in at
      </div>
    </div>

 <!--  <div class="section photos">2

  </div>

  <div class="section tidbits">3

  </div> -->

</div>
