#nav > ul > li:hover{
  background-color: #37A2A9
}
/*HomePage*/

#banner form {
  margin-top: 10px;
}

/*#banner h2 {
  background-color: gray;
  width: 80%;
  margin-left: 10%;
}*/
.input-form {
  width: 70%;
  margin-left:14%;
  margin-top: 14%;
  position: absolute;
  margin-bottom: 30px;
}

section .special {
margin-top: 50px;

}

.star {
  height:40px;
  width: 40px;
  margin-top: 4px;
}


.search {
  margin-top: 10px;
  width: 200px;
  -moz-box-shadow:    3px 3px 1px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.5);
  box-shadow:         3px 3px 1px 1px rgba(0,0,0,0.5);
}

ul .actions {
  width: 80%;
}
/*Favorites*/
.favorite {
  height:250px;
}
/*Layouts*/
#page-wrapper {
  margin-top: 20px;
}

/*Results page CSS*/

.side-bar {
  background-color:#E2E4D9;
  color: black;
}

.overview h2 {
  width: 100%;
  max-height: 400px;
  /*margin-left:25%;*/
  color:#30C967;
  background-color: #F6F6F6;
}
.section  {
  width: 100%;
  height: 300px;
  color:black;
  background-color: #F6F6F6;
  text-align: left;
  float: right;
  width: 100%;
  overflow: hidden;

}

.score-results{
  background-color: #606060;
  border: 2px solid #272727;border-radius: 2px;
  text-align: center;
  color: white;
}

.display {
  color: #E1856E;
  text-align: center;
  font-weight: bold;
}

.panel {
  border-radius: 15px;
}

.photo-results img {
  width: 140px;
  height: 140px;
}

.small {
  width: 170px;
  height: 170px;
  background-color: #F2F3F0;
  margin-top:10px;

}

/*FAVORITES PAGE */

.fav-address {
  color: white;
  margin-top: 70%;
}

.fav-rating {
  color: white;
  font-weight: bold;

}
.star-small {
  height:20px;
  width:20px;
}
/*progress bar*/
.progress-bar{
  background-color: #37A2A9;

}

.progress{
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
  background-color: #B4B4B4;
}


/*Media Queries*/

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/seattle-bg.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
/* End video CSS */


/* Begin map CSS */
#ws-walkscore-tile{
  position:relative;
  text-align:center;
  color: black;
}

#ws-walkscore-tile *{
  /*float:center;*/

}

.hider-header{
  position: absolute;
  background-color: #F6F6F6;
  width: 100%;
  height: 2.5%;
  border-bottom: solid black 1px
}

.hider-ad-bar{
  position: absolute;
  margin-top: 692px;
  background-color: #F6F6F6;
  width: 100%;
  height: 40%;
  border-top: solid black 1px;
  /*z-index: 99999999999;*/
}

#ws-foottext, #ws-footer a,#ws-footer a:link{
/*  font:11px/14px Verdana,Arial,Helvetica,sans-serif;
  margin-right:6px;
  white-space:nowrap;
  padding:0;color:#000;
  font-weight:bold;text-decoration:none*/
}

#ws-walkscore-tile > iframe{
  text-align: center;
}

#ws-footer a:hover{
    color:#000;
    text-decoration:none
}
#ws-footer a:active{
    color:#b14900
}

#page-wrapper > div > div.side-bar.col-md-8.results > div.section.overview.col-md-12 > div > h2{
  color:#37A2A9;
  font-size: 50px;
  /*font-family: impact;*/
}
.logoblue{
  background-color:#37A2A9;

}
.textblue{
  color:#37A2A9;

}
.gray{
  color: gray;

}
.lightgray{
  color: rgba(0,0,0,0.2);
  text-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.logo{
  width: 11em;
  height: auto;
  margin-top: 1.5%;
  /*position: absolute;*/
}

.map-box{
  position: absolute;
  top: 10px;
  width: 100%;
  height: 200px;
}

.map-result{
background-color: transparent;

}
/* End map CSS */

/*Instagram CSS*/

.instagram-pic {
  position: relative;
  padding: 10px;
  overflow: hidden;

}

.instagram-pic img {
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0 0 5px rbga(0,0,0,0.5);
}

.instagram-bar {
  position:absolute;
  bottom: 30px;
  width: 100%;
  left: 0;
  padding-left: 30px;
  padding-right: 30px;
  color: #FFF;
}

.instagram-bar span {
  margin-right: 5px;
}

.instagram-bar .likes {
  float: left;
}


.instagram-bar .comments {
  float: right;
}

.profilePic img{
  border-radius: 100px;
  border: 1px black solid;
  height: 125px;
  width: 125px;
}

#mission_statement{
  background: rgba(0, 0, 0, .5);
  margin-left: 20%;
  height: 30%;
  width: 60%;
  border-radius: 5px;
  font-size: .8em;
}

.fav-address{
  background: rgba(0, 0, 0, .6);
  height: 10%;
  width: 60%;

}

h2{
  font-family: 'Abel', sans-serif;


}
h3{
  font-family: 'Abel', sans-serif;
}
.alt{
  box-shadow: 0 0 10px 10px #333333;

}


