<!DOCTYPE html>
<html>
<head>
 <html>
  <head>
    <title>BlockRater</title>
    <meta charset="utf-8" />
    <!-- Latest compiled and minified CSS & JS -->
     <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>
  <body class="landing">
    <div id="page-wrapper">

      <!-- Header -->
        <header id="header" class="alt">
          <img class="minimizer" src="img/logo.png">
          <h1 style="margin-left:15px;" ><a href="/">Blockrater</a></h1>
          <nav id="nav">
            <ul>
              <li><a href="/" class="button">Home</a></li>
              <li>
                <a href="/login" class="button">Login</a>
              </li>
              <li><a href="/signup" class="button">Sign Up</a></li>

            </ul>
          </nav>
        </header>

</head>
<body>


<div class="container-fluid">

  <%- body  %>
</div>
</body>
</html>