<!DOCTYPE html>
<html>
<head>
 <html>
  <head>

    <title>BloxScore</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script>
      var currentUser = <%- JSON.stringify(cleanUser) %>
    </script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets/css/main.css" />

    <link rel="stylesheet" href="../style.css" />
    <script src="../script.js"></script>
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16"/>

  </head>
  <body class="landing">
    <div id="page-wrapper">

      <!-- Header -->
        <header id="header" class="alt">


          <h1 style="margin-left:15px;" ><a href="/"><img class="logo" src="img/blockraterlogo.png"></a></h1>
          <nav id="nav">
            <ul>
              <li class="favorites_nav">
                <a href="/<%=currentUser.id%>/favorites" class="favorites_nav">Favorites</a>|
              </li>

              <li class = "contact_nav">
                <a href="/contact" class="contact_nav">Contact</a>|

              </li>

              <li class = "team_nav">
                <a href="/team" class="team_nav">Team</a>|
              </li>


              <li class = "signup_nav">
                <a href="/signup" class="signup_nav">Sign Up</a>|
              </li>

              <li class="login_nav">
                <a href="/login" class="login_nav">Login</a>

              </li>

              <li class = "logout_nav">
                <a href="/logout" class="logout_nav">Log Out</a>

              </li>
            </ul>
          </nav>
        </header>
<div class="container-fluid">
<br>
  <%- body  %>
</div>


<!-- Footer -->
        <footer id="footer">
          <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
          </ul>
          <ul class="copyright">
            <li>&copy; BOSE Group. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
        </footer>

</div>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.dropotron.min.js"></script>
      <script src="assets/js/jquery.scrollgress.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>

  </body>
</html>