<!DOCTYPE html>
<html>
<head>
  <title>GoodrHood</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" media="screen" href="https://bootswatch.com/superhero/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
  <%- body  %>
</div>
</body>
</html>