
<!-- Main -->
        <section id="main" class="container">
          <header class="login-screen">
            <h2>Favorites</h2>
            <p>Love where you live!</p>
          </header>
          <%= name %>'s favorites
          <div class="box col-md-12">

            <% favorites.forEach(function(result){ %>
             <div class="well col-md-4 favorite">
              <%= result.address %>
              <%= result.mainImage  %>
              </div>
            <% }); %>

               </div>
        </section>

