<% include ../partials/alerts.ejs %>

      <!-- Banner -->

        <section id="banner">
        <h2><div id = "mission_statement">Find a Home That Fits Your Lifestyle</div></h2>
        <form class="input-form" action="/search" method="GET" role="form">
          <ul class="actions">
            <input name = "address" class="form-control" placeholder="Address">
            <br>
            <input name = "zip_code" type="integer" class="form-control" placeholder="Zip Code">
            <button class="btn-lg btn-info search" type="submit">Get BloxScore</button>
          </ul>
        </form>
        </section>



      <!-- Main -->
        <section id="main" class="container">

          <section class="box special">
            <header class="major">
              <h2>Introducing the ultimate tool
              <br />
              for learning about your future home and community</h2>
              <p>Find out what it is really like to live somewhere<br />
              by looking at the community and surrounding areas</p>
            </header>
            <div class="image-content">
            <span class="image featured"><img src="img/seattle-bg.jpg" alt="" /></span>
          </section>

          <section class="box special features">
            <div class="features-row">
              <section>
                <span class="icon major fa-usd accent2"></span>
                <h3>Price</h3>
                <p>Bloxscore thinks of price as more than just your rent.
                We take into consideration of your surroundings to provide
                you with a score that reflects your cost of living. You don't
                have to look at a bunch of websites. We'll do that for you.</p>
              </section>
              <section>
                <span class="icon major fa-area-chart accent3"></span>
                <h3>Proximity</h3>
                <p>We delve into the proximity by looking at all the cool places near your future home as well as
                how amazing people say they are. Our score doesn't look at only how walkable those places are but
                </p>
              </section>
            </div>
            <div class="features-row">
              <section>
                <span class="icon major fa-users accent4"></span>
                <h3>People</h3>
                <p>Your future dwelling is more that just the apartment/home/condo itself. We show you the amount
                of social interactions going on as well as photos of what your neighbors are snapping on Instagram!</p>
              </section>
              <section>
                <span class="icon major fa-map-marker accent5"></span>
                <h3>Places</h3>
                <p>We look through Yelp's database to give you the average score of what people think of the restaraunts and
                entertainment around your neighborhood. </p>
              </section>
            </div>
          </section>


