<!-- Main -->
        <section id="main" class="container">
          <header>
            <h2>Generic</h2>
            <p>A generic page for every non-generic situation.</p>
          </header>
          <div class="box">
            <span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
            <h2>Hello! We are BOSE!</h2>
            <p>BOSE consists of four developing web developers that were put into a group because of the fateful post-it notes.

            </p>
            <div class="row">
              <div class="3u 12u(mobilep)">
               <div class="profilePic"> <img src ="https://media.licdn.com/media/p/8/005/0b5/056/211cfef.jpg">
               </div>
                <h3><b><u>B</u></b>renden</h3>
                <p>Brenden is part time web dev, part time gangster rapper and a full time dance star! You'll catch him rapping while coding his web apps as he bursts into a random dance number when he gets his coder's high.</p>
              </div>
              <div class="3u 12u(mobilep)">
              <div class="profilePic"><img src ="https://media.licdn.com/media/AAEAAQAAAAAAAASFAAAAJGM1ODMxOGE0LTU5NzUtNDRlYi1hN2RlLWIxY2MxZWQ5MjFmOA.jpg">
              </div>
                <h3><b><u>O</u></b>sama</h3>
                <p>Osama.<br>
                Loves Llamas<br>
                and his mama.<br>
                He codes in his pajama<br>
                fixing all those commas<br>
                because that'll cause drama! *mic drop*</p>
              </div>
              <div class="3u 12u(mobilep)">
               <div class="profilePic"> <img src ="https://media.licdn.com/media/AAEAAQAAAAAAAAJCAAAAJDM1NjRkYWE1LWJhYTItNDcyNS1hYTc0LTgyYTc0NjBiM2M3Yg.jpg">
               </div>
                <h3><b><u>S</u></b>am</h3>
                <p><b><u>S</u></b>exy<br>
                <b><u>A</u></b>ttractive<br>
                <b><u>M</u></b>ale</p>
              </div>
               <div class="3u 12u(mobilep)">
                <div class="profilePic"> <img src ="https://media.licdn.com/media/AAEAAQAAAAAAAAMXAAAAJGI0ZDUwM2FlLTc5NDMtNGU2Ni05ZGExLTM3YmVkYWEwNTVlYg.jpg">
                </div>
                <h3><b><u>E</u></b>lle</h3>
                <p>After she retired as the undefeated cornhole champion of Seattle's General Assembly, she decided to get serious about coding.
                Besides coding, she likes long walks on the beach, cross-dressing men and Dr. Pimple Popper.</p>
              </div>
            </div>
          </div>
        </section>