<div class="text-center">
  <h1>Get Your Neighborhood SnapShot!</h1>
  <form>
    <input name = "address" type="text" class="form-control" placeholder="Address"><br>
    <input name = "zip_code" type="integer" class="form-control" placeholder="zip"><br>
    <button class="btn btn-default" type="submit"><h4>Search</h4></button>
  </form>
  <div class="fullscreen-bg">
      <video loop muted autoplay poster="img/seattle-bg.jpg" class="fullscreen-bg__video">
          <source src="video/background_video.mp4" type="video/mp4">
      </video>
  </div>
</div>