<h1> Find your Apartment RentItCredit</h1>
<form>
<input type="text" class="form-control" placeholder="Enter City or Address">
</form>
<div class="fullscreen-bg">
    <video loop muted autoplay poster="img/seattle-bg.jpg" class="fullscreen-bg__video">
        <source src="video/background_video.mp4" type="video/mp4">
 <!--        <source src="video/big_buck_bunny.ogv" type="video/ogv">
        <source src="video/big_buck_bunny.webm" type="video/webm"> -->
    </video>
</div>