

<section id="home" data-type="background" data-speed="10" class="pages">
         <article>
          <h1> Get Your Neighborhood SnapShot!</h1>
  <form>
  <input name = "address" type="text" class="form-control" placeholder="Address"><br>
  <input name = "zip_code" type="integer" class="form-control" placeholder="Zip Code"><br>
  <button class="btn btn-default" type="submit">Search</button>
  </form>

         </article>
    </section>

<section id="about" data-type="background" data-speed="10" class="pages">
         <article>
         <h1 id="cta"> Find the home that fits your lifestyle! </h1>

         </article>
</section>


<section id="section3" data-type="background" data-speed="10" class="pages">
         <article>I am absolute positioned</article>
</section>