<% include ../partials/alerts.ejs %>

      <!-- Banner -->

        <section id="banner">
        <h2>Find a Home That Fits Your Lifestyle</h2>
        <form class="input-form" action="/search" method="GET" role="form">
          <ul class="actions">
            <input name = "address" class="form-control" placeholder="Address">
            <br>
            <input name = "zip_code" type="integer" class="form-control" placeholder="Zip Code">
            <button class="btn-lg btn-info search" type="submit">Search</button>
          </ul>
        </form>
        </section>



      <!-- Main -->
        <section id="main" class="container">

          <section class="box special">
            <header class="major">
              <h2>Introducing the ultimate tool
              <br />
              for learning about your future home and community</h2>
              <p>Find out what it is really like to live somewhere<br />
              by looking at the community and surrounding areas</p>
            </header>
            <div class="image-content">
            <span class="image featured"><img src="img/seattle-bg.jpg" alt="" /></span>
          </section>

          <section class="box special features">
            <div class="features-row">
              <section>
                <span class="icon major fa-bolt accent2"></span>
                <h3>Price</h3>
                <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
              </section>
              <section>
                <span class="icon major fa-area-chart accent3"></span>
                <h3>Proximity</h3>
                <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
              </section>
            </div>
            <div class="features-row">
              <section>
                <span class="icon major fa-cloud accent4"></span>
                <h3>People</h3>
                <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
              </section>
              <section>
                <span class="icon major fa-lock accent5"></span>
                <h3>Places</h3>
                <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
              </section>
            </div>
          </section>


