<h1> LOGIN </h1>

    <form class="form" method="post" action="/login">
        <input type="text" class="form-control" placeholder="Enter your e-mail" name="email">
        <br><br>
        <input type="password" class="form-control" placeholder="Choose a password" name="password">
        <br><br>
        <input type="submit" value="log me in" class="btn btn-primary">
    </form>