
<!-- Main -->
        <section id="main" class="container">
          <header class="login-screen">
            <h2>Login</h2>
            <p>Login to get more out of our app!</p>
          </header>
          <div class="box">

            <h3>Login</h3>
              <form class="form" method="post" action="/login">
                <input type="text" class="form-control" placeholder="Enter your e-mail" name="email">
                <br><br>
                <input type="password" class="form-control" placeholder="Choose a password" name="password">
                <br><br>
                <input type="submit" value="log me in" class="btn btn-primary">
              </form>
         <!--    <div class="row">
              <div class="6u 12u(mobilep)">
                <h3>And now a subheading</h3>
                <p>Adipiscing faucibus nunc placerat. Tempus adipiscing turpis non blandit accumsan eget lacinia nunc integer interdum amet aliquam ut orci non col ut ut praesent. Semper amet interdum mi. Phasellus enim laoreet ac ac commodo faucibus faucibus. Curae lorem ipsum adipiscing ac. Vivamus ornare laoreet odio vis praesent.</p>
              </div>
              <div class="6u 12u(mobilep)">
                <h3>And another subheading</h3>
                <p>Adipiscing faucibus nunc placerat. Tempus adipiscing turpis non blandit accumsan eget lacinia nunc integer interdum amet aliquam ut orci non col ut ut praesent. Semper amet interdum mi. Phasellus enim laoreet ac ac commodo faucibus faucibus. Curae lorem ipsum adipiscing ac. Vivamus ornare laoreet odio vis praesent.</p>
              </div>
            </div> -->
          </div>
        </section>

