<h1> SIGNUP </h1>

<form class="form" method="post" action="/signup">
        <input type="text" class="form-control" placeholder="Enter your e-mail" name="email">
        <br><br>
        <input type="text" class="form-control" placeholder="Enter your name" name="name">
        <br><br>
        <input type="password" class="form-control" placeholder="Choose a password" name="password">
        <br><br>
        <input type="password" class="form-control" placeholder="Re-type your password" name="password2">
        <br><br>
        <input type="submit" value="sign up" class="btn btn-primary">
    </form>