<!-- <div class="container">
<h1> SIGNUP </h1>
<div class="login-page">


<form class="form" method="post" action="/signup">
        <input type="text" class="form-control" placeholder="Enter your e-mail" name="email">
        <br><br>
        <input type="text" class="form-control" placeholder="Enter your name" name="name">
        <br><br>
        <input type="password" class="form-control" placeholder="Choose a password" name="password">
        <br><br>
        <input type="password" class="form-control" placeholder="Re-type your password" name="password2">
        <br><br>
        <input type="submit" value="sign up" class="btn btn-primary">
    </form>
<div>

</div> -->


<!-- Main -->
        <section id="main" class="container">
          <header class="login-screen">
            <h2>Sign Up</h2>
            <p>Sign up today for access to your neighborhood score!</p>
          </header>
          <div class="box">

            <h3>Sign Up</h3>
             <form class="form" method="post" action="/signup">
                <input type="text" class="form-control" placeholder="Enter your e-mail" name="email">
                <br><br>
                <input type="text" class="form-control" placeholder="Enter your name" name="name">
                <br><br>
                <input type="password" class="form-control" placeholder="Choose a password" name="password">
                <br><br>
                <input type="password" class="form-control" placeholder="Re-type your password" name="password2">
                <br><br>
                <input type="submit" value="sign up" class="btn btn-primary">
            </form>
            <!-- <div class="row">
              <div class="6u 12u(mobilep)">
                <h3>And now a subheading</h3>
                <p>Adipiscing faucibus nunc placerat. Tempus adipiscing turpis non blandit accumsan eget lacinia nunc integer interdum amet aliquam ut orci non col ut ut praesent. Semper amet interdum mi. Phasellus enim laoreet ac ac commodo faucibus faucibus. Curae lorem ipsum adipiscing ac. Vivamus ornare laoreet odio vis praesent.</p>
              </div>
              <div class="6u 12u(mobilep)">
                <h3>And another subheading</h3>
                <p>Adipiscing faucibus nunc placerat. Tempus adipiscing turpis non blandit accumsan eget lacinia nunc integer interdum amet aliquam ut orci non col ut ut praesent. Semper amet interdum mi. Phasellus enim laoreet ac ac commodo faucibus faucibus. Curae lorem ipsum adipiscing ac. Vivamus ornare laoreet odio vis praesent.</p>
              </div>
            </div> -->
          </div>
        </section>

